html {
  background: -webkit-linear-gradient(top, #d9d9d9, #f9f9f9 64px) repeat-x, #f9f9f9;
  background: -ms-linear-gradient(top, #d9d9d9, #f9f9f9 64px) repeat-x, #f9f9f9;
  background: -moz-linear-gradient(top, #d9d9d9, #f9f9f9 64px) repeat-x, #f9f9f9;
  background: linear-gradient(top, #d9d9d9, #f9f9f9 64px) repeat-x, #f9f9f9;
}

body {
  background: none;
  color: #444;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.428571429;
  padding: 48px 8px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}

a { color: #3486BB; cursor: pointer; text-decoration: none; }
a:hover { text-decoration: none; color: #333; }
p { margin: 0 0 10px; }

.l-static { position: static !important }
.l-table { display: table; }
.l-table-cell { display: table-cell; }

h1, h2, h3 { font-family: 'Open Sans', sans-serif; text-rendering: optimizeLegibility; margin: 0 0 12px 0; }
h1 { font-size: 32px; color: #884C4C; }
h2 { font-size: 24px; color: #9E5151; margin-top: 16px; }
h3 { font-size: 18px; color: #641414; margin: 16px 0 6px 0; }

hr {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  height: 1px;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title-small-print { font-size: 12px; color: #999; }

.l-profile-block img {
  max-width: 100%;
  display: block;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  background: #fbfbfb;
  padding: 4px;
  position: absolute;
}

.l-profile-picture-container {
  position: relative;
  max-width: 200px;
  display: table;
  margin: 0 auto;
}

.l-profile-block .label-text { font-weight: bold; margin: 32px 0 8px 30px; color: #555; }
.l-profile-inner-block { display: table; margin: 0 auto; font-family: sans-serif; }
.l-profile-section { padding-bottom: 24px }

.rotate-left  {
  -webkit-transform: rotate(-5deg) translateX(0px);
  -moz-transform: rotate(-5deg) translateX(0px);
  -ms-transform: rotate(-5deg) translateX(0px);
  transform: rotate(-5deg) translateX(0px);
}

.rotate-right {
  -webkit-transform: rotate(5deg) translateX(0px);
  -moz-transform: rotate(5deg) translateX(0px);
  -ms-transform: rotate(5deg) translateX(0px);
  transform: rotate(5deg) translateX(0px);
}

.icon-item { display: table; }
.icon-item > div { display: table-cell; vertical-align: middle; }
.icon-item > div:first-child { padding-right: 6px; }

.experience-duration {
  color: #888;
  display: block;
  margin: 0 0 4px 0;
}

.quote-container { color: #666; }
.quote-avatar { vertical-align: top; padding: 10px 16px 0 0; }
.quote-avatar img { border-radius: 5px; border: 1px solid #ccc; padding: 2px; width: 80px }
