html, body {
  margin: 0;
}

html {
  background: -webkit-linear-gradient(top, #d9d9d9, #f9f9f9 64px) repeat-x, #f9f9f9;
}

body {
  background: none;
  color: #444;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 12pt;
}

a {
  color: #3486BB;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.content {
  max-width: 740px;
}

.title-small-print {
  font-size: 12px;
  color: #999;
}

.layout-table {
  display: table;
}

.layout-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.icon-item {
  display: table;
}

.icon-item > div {
  display: table-cell;
  vertical-align: middle;
}

.icon-item > div:first-child {
  padding-right: 6px;
}

.container {
  margin: 64px auto;
  display: table;
}

.container > section {
  display: table-cell;
  vertical-align: top;
}

#profile-block {
  font-size: 13px;
  width: 165px;
  padding: 0 64px 0 0;
}

#profile-block {
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
}

.initial #profile-block {
  transform: translateX(-32px);
  -webkit-transform: translateX(-32px);
  -ms-transform: translateX(-32px);
  -moz-transform: translateX(-32px);
}

#profile-block img {
  width: 170px;
  display: block;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  background: #fbfbfb;
  padding: 4px;
  position: absolute;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.profile-picture-container {
  position: relative;
  width: 170px;
  height: 170px;
  /*cursor: pointer;*/
}

/*.profile-picture-container:hover img {
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}*/

.rotate-left  {
  -webkit-transform: rotate(-5deg) translateX(0px);
}

.rotate-right {
  -webkit-transform: rotate(5deg) translateX(0px);
}

/*.profile-picture-container:hover .rotate-left {
  -webkit-transform: rotate(-15deg) translateX(-50px) translateY(-15px)
}

.profile-picture-container:hover .rotate-right {
  -webkit-transform: rotate(15deg) translateX(50px) translateY(-15px)
}*/

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0 0 12px 0;
}

h1 {
  font-size: 32px;
  color: #884C4C;
}

h2 {
  font-size: 24px;
  color: #9E5151;
  margin-top: 16px;
}

h3 {
  font-size: 18px;
  color: #641414;
  margin: 16px 0 6px 0;
}

hr {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  height: 1px;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#profile-block .label-text {
  font-weight: bold;
  margin: 32px 0 8px 30px;
  color: #555;
}

.profile-inner-block {
  display: table;
  margin: 0 auto;
  font-family: sans-serif;
}

.profile-inner-block-fixed {
  position: fixed;
  top: 0;
}

.experience-duration {
  color: #888;
  display: block;
  margin: 0 0 4px 0;
}

/* Quotes. */
.quote-container {
  color: #666;
}

.quote-avatar {
  vertical-align: top;
  padding: 10px 16px 0 0;
}

.quote-avatar img {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 2px;
}

.no-transition {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
}

/* Left side nav icon styles. */
.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  color: #b1b1b1;
  vertical-align: top;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
}

.icon-item:hover .icon-calendar {
  color: #30B40F;
}

.icon-item:hover .icon-mail {
  color: #CC4100;
}

.icon-item:hover .icon-telephone {
  color: #3CAAF3;
}

.icon-item:hover .icon-social-linkedin {
  color: #3894DD;
}
.icon-item:hover .icon-social-github {
  color: #239207;
}

.icon-item:hover .icon-social-google-plus {
  color: #C71010;
}
.icon-item:hover .icon-social-skype {
  color: #0DBAFD;
}

.icon-item:hover .icon-social-stack-overflow {
  color: #B37A02;
}

.icon-item:hover .icon-marker {
  color: #05A30B;
}

/* Icons. */

@charset "UTF-8";

@font-face {
  font-family: "resume";
  src:url("../fonts/resume.eot");
  src:url("../fonts/resume.eot?#iefix") format("embedded-opentype"),
  url("../fonts/resume.woff") format("woff"),
  url("../fonts/resume.ttf") format("truetype"),
  url("../fonts/resume.svg#resume") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "resume" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "resume" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-google-plus:before {
  content: "a";
}
.icon-social-linkedin:before {
  content: "b";
}
.icon-social-skype:before {
  content: "c";
}
.icon-mail:before {
  content: "d";
}
.icon-marker:before {
  content: "e";
}
.icon-calendar:before {
  content: "f";
}
.icon-social-stack-overflow:before {
  content: "g";
}
.icon-social-github:before {
  content: "h";
}
.icon-telephone:before {
  content: "i";
}
