<!DOCTYPE html>

<link rel="import" href="../collapsible/collapsible.html">
<meta charset="UTF-8">

<polymer-element name="x-resume">
  <template>
    <div class="container">
      <section id="profile-block">
        <div class="profile-picture-container">
          <img src="/images/profile-picture.jpg" class="rotate-left" />
          <img src="/images/profile-picture.jpg" class="rotate-right" />
          <img src="/images/profile-picture.jpg" style="" />
        </div>

        <div class="profile-inner-block">
          <div class="label-text">Contact me</div>

          <div class="icon-item">
            <div>
              <span class="icon icon-mail"></span>
            </div>

            <div>
              <a href="mailto:kaisellgren@gmail.com">kaisellgren@gmail.com</a>
            </div>
          </div>

          <div class="icon-item">
            <div>
              <span class="icon icon-telephone"></span>
            </div>

            <div>
              +358442598711
            </div>
          </div>

          <div class="icon-item">
            <div style="vertical-align: top">
              <span class="icon icon-marker"></span>
            </div>

            <div>
              <a href="http://goo.gl/maps/0YWbH" target="_blank">
                Lahti, Finland<br />
              </a>
            </div>
          </div>

          <div class="label-text">Public profiles</div>

          <div class="icon-item">
            <div>
              <span class="icon icon-social-linkedin"></span>
            </div>

            <div>
              <a href="http://www.linkedin.com/pub/kai-sellgren/18/802/7a3" target="_blank">LinkedIn profile</a>
            </div>
          </div>

          <div class="icon-item">
            <div>
              <span class="icon icon-social-github"></span>
            </div>

            <div>
              <a href="https://github.com/kaisellgren" target="_blank">github.com/kaisellgren</a>
            </div>
          </div>

          <div class="icon-item">
            <div>
              <span class="icon icon-social-google-plus"></span>
            </div>

            <div>
              <a href="https://google.com/+kaisellgren" target="_blank">google.com/+kaisellgren</a>
            </div>
          </div>

          <div class="icon-item">
            <div>
              <span class="icon icon-social-skype"></span>
            </div>

            <div>
              <a href="skype:kaisellgren?userinfo" target="_blank">kaisellgren</a>
            </div>
          </div>

          <div class="icon-item">
            <div>
              <span class="icon icon-social-stack-overflow"></span>
            </div>

            <div>
              <a href="http://stackoverflow.com/users/1364206/kai-sellgren" target="_blank">StackOverflow profile</a>
            </div>
          </div>
        </div>
      </section>

      <!--
      projects, past work/experience, skills, planguages, edu
      -->

      <section>
        <div class="content">
          <h1 id="primary-title">Kai Sellgren</h1>

          <h2>Summary</h2>
          <p>I am a passionate <time datetime="1989-12-24 00:00" title="December 24th, 1989">24-year-old</time> software engineer from <a href="http://en.wikipedia.org/wiki/Finland" target="_blank">Finland</a> who enjoys spending time in the field of architectures, designs, security and programming.</p>
          <p>The web is my greatest passion, although I have written a fair amount of code for desktop and other type of software, too. I love designing architectures and writing code for larger web-based software.</p>
          <p>I am an autodidact and being up-to-date, strengthen my skills and not live in a barrel play a big role in my everyday life. I have found programming to be a lifestyle rather than a career choice.</p>
          <p>My preferred programming languages include Dart, Scala, Rust, C#, ECMAScript (JavaScript). I use other languages too if they fit the problem. As for databases, having used many, I like PostgreSQL, HBase and Redis the most.</p>

          <br />

          <h2>Work experience</h2>

          <h3>Founder</h3>
          <span class="company-name">Cindela, Inc.</span>
          <span class="experience-duration">January 2013 — Present</span>
          <x-collapsible readMoreText="Read more about this case" initialHeight="{{44}}">
            <p>In December 2012, I decided to quit my full-time job and founded a company to work as an independent contract-based professional. The primary motivation was to learn new and improve myself.</p>
            <p>I used Skype video calls for communication around the world in the English language, often ranging between 6-12 hours a day. Tools such as <a href="http://www.asana.com" target="_blank">Asana</a> and <a href="http://www.github.com" target="_blank">GitHub</a> have been in use as well.</p>
            <p>I have spent most of the time building complex web software using <a href="http://www.dartlang.org" target="_blank">Dart</a>, <a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a> and <a href="http://www.mongodb.org/" target="_blank">MongoDB</a>. I became a top (rank #3 as of writing) contributor on <a href="http://stackoverflow.com/tags/dart/topusers" target="_blank">StackOverflow for Dart</a> with 125+ answers and I built a great reputation within the Dart community as an active "Dartisan".</p>
            <p>Throughout the year I built a few open source libraries for Dart such as a <a href="https://github.com/kaisellgren/DartZip" target="_blank">Zip implementation</a>, <a href="https://github.com/kaisellgren/mailer" target="_blank">SMTP client</a>, <a href="https://github.com/kaisellgren/CRC32" target="_blank">CRC32</a>, a full-blown <a href="https://github.com/kaisellgren/Animation" target="_blank">Animation</a> library with easing support and also contributed to other open source projects, most notably the Dart <a href="https://github.com/vadimtsushko/objectory/graphs/contributors" target="_blank">MongoDB database drivers</a>.</p>
            <p>GitHub's activity shows that I made 2700+ contributions in 2013. Most of these are private and thus I decided to put a screenshot here instead of a link. Most of the contributions are <a href="http://en.wikipedia.org/wiki/Commit_(data_management)" target="_blank">commits</a>:</p>

            <img src="images/github-contributions.png" />
          </x-collapsible>

          <hr />

          <h3>Senior Software Engineer</h3>
          <a class="sub-title" href="http://www.linkedin.com/company/233658?trk=prof-exp-company-name" target="_blank">Loiste*</a>
          <span class="experience-duration">August 2011 — January 2013 (1 year 6 months)</span>
          <p>I worked on projects for <a href="http://outotec.com" target="_blank">Outotec</a> who provides solutions for sustainable use of earth's natural resources.</p>
          <p>We built numerous tools and products for them ranging from sales tools to managing their products.</p>

          <hr />

          <h3>Software Engineer</h3>
          <a class="sub-title" href="http://www.nordsoftware.com/" target="_blank">Nord Software Ltd.</a>
          <span class="experience-duration">April 2010 — June 2011 (1 year 3 months)</span>
          <p>I was part of a small team to produce <a href="https://eautokoulu.fi/" target="_blank">E-autokoulu</a>, an online driving school management software.</p>
          <p>Later I worked on <a href="http://viia.hrhouse.fi" target="_blank">VIIA</a>, which is an online human resource management service.</p>

          <hr />

          <h3>Software Engineer</h3>
          <span class="sub-title">Armoured Brigade</span>
          <span class="experience-duration">September 2009 — April 2010 (8 months)</span>

          <br />

          <h2>Recommendations</h2>

          <br />

          <div class="layout-table quote-container">
            <div class="layout-table-cell quote-avatar">
              <img src="/images/david-notik.jpg" alt="David Notik" />
            </div>
            <div class="layout-table-cell">
              <blockquote>Finding and retaining great people is perhaps the most difficult and most important feat for any company, and this certainly has been true in my own experience. I, like most, seek exceptional skills and talent, but also honesty, integrity, timeliness, great communication, initiative and dedication. It's a tall order, especially considering the best of the best are in high demand, and particularly in our industry where there is already short supply.<br />
                <br />
                You surpassed all my hopes and expectations on every level. I couldn't ask for a better lead engineer and all around great person to work alongside as we began building the platform I've been working towards for a long time. I am truly grateful, both on a professional and personal level, for all the time and energy and honest dedication you have put forth.</blockquote>
              <span>— <a href="http://www.linkedin.com/in/davidnotik" target="_blank">David Notik</a>, founder of Woven</span>
            </div>
          </div>

          <br />

          <h2>Open source projects</h2>
          <h3><a href="https://github.com/kaisellgren/ScalaGit" target="_blank">Scala Git</a> <span class="title-small-print">— Scala</span></h3>
          <p>A pure Scala implementation of the Git version control written from scratch. I love Git, I wanted to learn Scala and I wanted to build a library to show off <em>some</em> of my skills and here is the result.</p>
          <p>So far this library can do a number of things. It can parse Git repositories. It understands all five types of objects (blob, commit, note, tree, tag). It can manipulate repositories in many ways such as read and write branches, commits, trees and tags.</p>
          <p>It's still a work-in-progress. I need to further study before I can implement diffing, merging and synchronization.</p>

          <h3><a href="https://github.com/kaisellgren/Concurrency-concepts" target="_blank">Concurrency concepts</a> <span class="title-small-print">— Document</span></h3>
          <p>An old guide about concurrency, multi-threading and parallel programming concepts that I wrote, because I wanted to learn about concurrency and what is a better way to do so than to read, study and write. The article explains the differences between the concepts, their advantages and disadvantages in detail.</p>

          <h3><a href="https://github.com/kaisellgren/Mailer" target="_blank">Mailer</a> <span class="title-small-print">— Dart</span></h3>
          <p>Compose and send emails from Dart. Supports both plaintext and HTML emails, has Unicode support, attachments, filters and sanitizes fields for security, allows you to use SMTP servers such as Gmail or <a href="http://sendgrid.com/" target="_blank">SendGrid</a>, supports SSL/TLS and offers pre-configured services like <a href="http://aws.amazon.com/ses/" target="_blank">Amazon SES</a>.</p>

          <h3><a href="https://github.com/kaisellgren/Git-GUI" target="_blank">Git GUI</a> <span class="title-small-print">— C#, .NET, WPF</span></h3>
          <p>I wanted to learn C# and especially <a href="http://en.wikipedia.org/wiki/Windows_Presentation_Foundation" target="_blank">WPF</a> along with its interesting parts such as <a href="http://en.wikipedia.org/wiki/UI_data_binding" target="_blank">data binding</a> and <a href="http://en.wikipedia.org/wiki/Model_View_ViewModel" target="_blank">MVVM</a>, so I started Git-GUI, which is a powerful graphical user interface for Git that runs on Windows. It's a standalone product and requires no Git installation. It provides <a href="https://lh3.googleusercontent.com/-rSpv0R1tqYY/UwIZ__ul-pI/AAAAAAAAN3Q/s0TK8TKiVa4/s0/2014-02-17_16-17-37.png" target="_blank">a nice UI</a> to manage Git repositories.</p>

          <h3><a href="https://github.com/kaisellgren/DartZip" target="_blank">Zip</a> <span class="title-small-print">— Dart</span></h3>
          <p>A zip parser, reader and generator written in pure Dart. It is memory efficient; requires the minimum amount of memory to, for instance, extract specific files.</p>

          <h3><a href="https://github.com/kaisellgren/Animation" target="_blank">Animation</a> <span class="title-small-print">— Dart</span></h3>
          <p>This library offers standard animation capabilities such as stopping and pausing animations, some pre-made effects, animation queues and a powerful <a href="http://en.wikipedia.org/wiki/Inbetweening" target="_blank">easing</a> engine that supports everything you need from linear animations to quadratic to sine.</p>

          <h3><a href="https://github.com/kaisellgren/Zlib" target="_blank">Zlib</a> <span class="title-small-print">— Dart</span></h3>
          <p>On a rainy Saturday evening, I started a daunting task to write Zlib from scratch in Dart. Zlib is a data compression tool, which relies on the <a href="http://en.wikipedia.org/wiki/DEFLATE" target="_blank">DEFLATE</a> compression algorithm (a variant of the <a href="http://en.wikipedia.org/wiki/LZ77" target="_blank">Lempel-Ziv 1977</a>). I never really intended it to be used for anything, but I wanted to learn and know how it all works. As of now, the deflation works 95% and inflation works 100%.</p>

          <h3><a href="https://github.com/kaisellgren/ChiSquare" target="_blank">ChiSquare</a> <span class="title-small-print">— JavaScript</span></h3>
          <p>Calculates a Chi-square distribution over a sequence of bytes within a Buffer. The result is a floating point representing the probability of how frequently a truly random sequence of bytes would exceed the calculated value.</p>
          <p>You can use this library to determine if your random data source produces good random data. There is a wide variety of ways to measure random data quality (such as <a href="http://en.wikipedia.org/wiki/Arithmetic_mean" target="_blank">arithmetic mean</a>, <a href="http://www.cogsci.ucsd.edu/classes/SP09/COGS14/NOTES/entropy.pdf" target="_blank">entropy frequencies</a>, <a href="http://en.wikipedia.org/wiki/Monte_Carlo_method" target="_blank">monte carlo simulations</a>, etc.), but among all of them, calculating <a href="http://en.wikipedia.org/wiki/Chi-squared_distribution" target="_blank">the chi square distribution</a> over the random data reveals much more.</p>

          <h3><a href="https://github.com/kaisellgren/Entropy" target="_blank">Entropy</a> <span class="title-small-print">— Dart</span></h3>
          <p>An entropy calculator. Given data, it calculates the entropy and returns the amount of bits of entropy per byte.</p>

          <h3><a href="https://github.com/kaisellgren/Gomoku" target="_blank">Gomoku</a> <span class="title-small-print">— JavaScript</span></h3>
          <p>Like Tic-Tac-Toe, but 5 in-a-row to win. This game also has an AI based on the <a href="http://en.wikipedia.org/wiki/Minimax" target="_blank">Minimax</a> algorithm and is hard to beat.</p>

          <h3><a href="https://github.com/kaisellgren/Cinvasion" target="_blank">Cinvasion</a> <span class="title-small-print">— Dart</span></h3>
          <p>Color Invasion (or Cinvasion) is a game where you fight to capture as much of the game area as possible. It also features a smart AI.</p>

          <h3><a href="https://github.com/kaisellgren/PHP-Security-Library" target="_blank">Security Library</a> <span class="title-small-print">— PHP</span></h3>
          <p>A very old security library for PHP. It provides advanced random data generation, encryption utilities as well as certificate generation and signing.</p>

          <h3><a href="https://github.com/kaisellgren/CRC32" target="_blank">CRC32</a> <span class="title-small-print">— Dart</span></h3>
          <p>A cyclic redundancy check calculator written in pure Dart.</p>

          <h3><a href="https://github.com/kaisellgren/QueryString" target="_blank">QueryString</a> <span class="title-small-print">— Dart</span></h3>
          <p>Parsing and constructing query strings in Dart the easy way.</p>

          <br />

          <h2>Programming language skills</h2>

          <h3>JavaScript (ECMAScript)</h3>
          <p>I have read the <a href="http://www.ecma-international.org/ecma-262/5.1/">ECMA-262 5.1 specification</a> and followed <a href="http://wiki.ecmascript.org/doku.php?id=harmony:specification_drafts" target="_blank">the ES 6 Harmony specs</a> quite closely. I have a bunch of JavaScript guru friends such as <a href="http://careers.stackoverflow.com/raynos/" target="_blank">Jake Verbaten</a>, a NodeConf speaker, who would always recommend me.</p>
          <p>My JavaScript knowledge reaches many areas such as <a href="http://nodejs.org/" target="_blank">NodeJS</a>, <a href="http://www.sencha.com/products/extjs/" target="_blank">ExtJS</a>, <a href="http://dojotoolkit.org/" target="_blank">Dojo</a>, <a href="http://backbonejs.org/" target="_blank">Backbone</a>, <a href="http://jquery.com/" target="_blank">jQuery</a>, <a href="http://expressjs.com/" target="_blank">Express</a> and a little bit of <a href="http://phonegap.com/" target="_blank">PhoneGap</a>, too.</p>
          <p>I used to love pure JavaScript and I still quite like it, but sometimes it feels too clumsy. Nowadays I prefer <a href="https://www.dartlang.org/" target="_blank">Dart</a> over it, not just due to syntactic reasons, but for the semantic reasons, too.</p>

          <h3>Scala</h3>
          <p>Lately I've been working on <a href="https://github.com/kaisellgren/ScalaGit" target="_blank">Scala Git</a>, which is a complete rewrite of the Git version control in pure Scala. The more I learn and write Scala, the more I love it. I'd very much like to program Scala at work.</p>
          <p>My goal is to write pure functional code that embraces immutability and simplicity. I like that Scala's syntax is very flexible and thus allows you to write internal <a href="http://en.wikipedia.org/wiki/Domain-specific_language" target="_blank">DSL's</a>.</p>

          <h3>Dart</h3>
          <p>I have used Dart for work purposes for more than a year. I have also used it for hobby projects for 2 years and have grown to write simple, efficient and beautiful code for both the client and also the server side.</p>
          <p>Larger single-page apps built on <a href="http://www.polymer-project.org/" target="_blank">Polymer</a> entice me. For the record, this simple resume is written in Dart and Polymer.</p>

          <h3>C#</h3>
          <p>Although not my favorite language, I like it far more than Java and I've used it for work and hobby projects and I feel comfortable with it and the related technologies such as .NET and WPF.</p>

          <h3>Rust</h3>
          <p>TODO: write</p>

          <h3>PHP, Python, Java, GML, (Visual) Basic</h3>
          <p>I have used a range of languages that I no longer practice actively. I have written Python and PHP at work and free-time. I have used Django, Symfony and Yii.</p>
          <p>In the past I have used Java, GML, Basic and VB.NET for various random purposes. Mainly for learning as a kid.</p>

          <br />

          <h2>Other skills</h2>

          <h3>Human languages</h3>
          <p>English (full professional proficiency), Finnish (mother tongue)</p>

          <h3>Git, Mercurial, Subversion</h3>
          <p>I have used every aforementioned version control systems at work. I am a definite Git guru as I understand its internals better than most programmers. This is because I've been working on a <a href="https://github.com/kaisellgren/ScalaGit" target="_blank">Scala Git</a> implementation, in addition to years of actual use at work.</p>

          <h3>Photoshop</h3>
          <p>As a kid I made some website designs in Photoshop and sold them at <a href="https://www.digitalpoint.com/" target="_blank">Digital Point</a>. It's my standard tool for any graphic related work. I am not a graphics designer, but I feel I have a better understanding of design than other programmers. This resume, albeit simple, was designed in Photoshop, sliced and implemented.</p>

          <h3>MySQL, PostgreSQL, MongoDB, Redis, HBase, Memcached</h3>
          <p>I have actual work experience with both relational and non-relational databases. I am a big fan of PostgreSQL and Redis. I find MongoDB horrendous due to the extreme locking practice they use for concurrency. It's not well-suited for apps that write often.</p>

          <h3>Web development</h3>
          <p>I master the common web development related technologies like HTML and CSS. I have done LESS, SASS, used HTML5 APIs and semantic tags, played around with clever CSS3 transitions, animations and layouts with flexboxes. It's pointless to list all I've done or used, but let's say I like complex modern single-page web apps.</p>

          <h3>Regular expressions</h3>
          <p>Whether it's about lookarounds, atomic grouping or recursion, I know how to use regular expressions efficiently and I love them.</p>

          <h3>Payment systems</h3>
          <p>I have dealt with a number of payment systems such as PayPal, Verkkomaksut and AlertPay.</p>

          <br />

          <h2>Understanding of concepts</h2>

          <h3>Security</h3>
          <span class="sub-title">hashing, hmacs, ciphers, padding schemes, PKI, X.509, CSRF, XSS, LFI, RCE, SQLi, session hijacking, session fixation, session poisoning, column truncation, buffer overflow...)</span>

          <h3>Architectural design patterns</h3>
          <span class="sub-title">MVC, MVVM, MVP, PM, RVP, Model2</span>

          <h3>Programming paradigms</h3>
          <span class="sub-title">Functional programming, object-oriented programming</span>

          <h3>WebSockets, AJAX, long polling Comets</h3>
          <span class="sub-title">Functional programming, object-oriented programming</span>

          <h3>Deep understanding of many protocols and file formats</h3>
          <span class="sub-title">FIX, X.509, HTTP, SMTP, Zip, Tar, Torrent, Git repositories, </span>
        </div>
      </section>
    </div>
  </template>
  <script type="application/dart" src="resume.dart"></script>
</polymer-element>